<div class="container">
    <div class="container__form">
        <h1 class="title">Recuperar contraseña</h1>
        <form id="recover__form" class="form">
            <label>Ingrese una nueva contraseña</label>
            <input type="password" name="password">
            <input type="submit">
        </form>
    </div>
</div>
<script src="/js/recoverpassword.js"></script>